.sidebar{
  width: 100%;
  
}

.Nav{
  /* border: 2px solid black; */
  margin-top: 20px;
  width:100%;
  display: flex;
  gap: 50%;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);

}

.profile{
display: flex;
 flex:  1;
 gap: 33%;
 justify-content: center;
 align-items: center;
}

.data-view{
  width:10%;
  margin:auto;
  margin-left: 1%;
  margin-top: 10px;
 
}

.list{
  width: 100%;
  display: grid;
}
.chart{
  width:85%;
  margin-left: 12%;
  margin-top: -16.7%;
}

.charts-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
.charts-box>div{
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}
button {
  position: relative;
  background-color: #033120;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



.chartBar>svg{  
  margin-left: 60px;
  margin-top: 30px;   
}

.chartBar>button{
        background-color: turquoise;
        border-radius: 10px;
        margin-left: 70%;
        margin-top: -10px;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      
}

.headingOfChart{
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  margin-top: 20px;
}

hr{
  margin-bottom: 5px;
}

.Accounts{
  display: flex;
  gap: 25%;
}

.acc-heading ,.acc-month ,.acc-value{
  display: grid;
}
.acc-heading{
  margin-left: 10px;
}

h4{
  margin-bottom: 10px;
  color: turquoise;
  font-weight: 200;
}

.acc-heading>h4{
  margin-top: 10px;
}

.acc-heading>span{
  margin-bottom: 5px;
}



